body{
    font-family: 'Hammersmith One', sans-serif;
    background-position: center;
    background-size: 1100px;
    height: 110vh;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #71b09b;
}

.sidebar header {
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 100px;
    background: #7cbfa9;
    user-select: none;
}

.sidebar ul a {
    display: block;
    line-height: 260px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(116, 224, 210, 0.212);
    border-bottom: 1px solid rgba(26, 32, 30, 0.301);
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

.organization{
    font-size: 30px;
    padding-top: 2%;
    position: absolute;
    left: 900px; 
}

.content{
    position: absolute;
    left: 300px;
    margin-top: 300px;
    line-height: 60px;
    font-size: 20px;
}